<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HomePage" value="http://automationpractice.com/" />
    <add key="Driver" value="chrome" />
    <add key ="Item" value="Printed Summer Dress" />
    <add key ="BannerTitle" value="Product successfully added to your shopping cart"/>
    <add key ="Colour" value="Green"/>
    <add key="Size" value="M"/>
    <add key="Quantity" value="2"/>
    <add key="TotalAmount" value="$34.80"/>
  </appSettings>  
</configuration>